<h3>Doggy Box offers complete list of dog training courses.</h3>

<p></p>

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">General Obedience Course</div>
            <div class="panel-body">
                <img src="~/Content/Images/faq_gr_li.gif" />
                General training is the foundation for building habits disciplining the animal and make it easy to manage behavior.Puppy accustomed to obedience and conductivity.
                The total rate is the same for all breeds of dogs, including two consecutive, overlapping stages: primary education and basic training.
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <img src="~/Content/Images/agility-all.jpg" class="img-responsive img-rounded"/>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/school_4.jpg" class="img-responsive img-rounded" />
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Handling Course</div>
            <div class="panel-body">
                <img src="~/Content/Images/faq_gr_li.gif" />
                Handling course is required for dogs that appear to be of exterior exhibitions (shows Beauty). Course includes Loop behavior of the dog,
                his movement in the ring, bring the dog in a stand (against breed requirements) and habituation of the animal to allow a close view of different people.
                Course is important for both the dog and his master, who taught himself how to submit your pet exterior of the exhibition.
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <img src="~/Content/Images/JackRussellJump_wb.jpg" class="img-responsive img-rounded" />
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Agility Course</div>
            <div class="panel-body">
                <img src="~/Content/Images/faq_gr_li.gif" />
                Agility course is fun for both the dog and for its owner. Agility is a relatively new sport in Bulgaria, which is actively involved as a dog and its driver.
                In agility course strictly adheres to the international rules of agility and anyone wishing to sporuva should be familiar with it in advance. Agility courses are divided into levels. In the first level of the dog and its driver are introduced to each obstacle and the rules that need to pass through it. At the end of the first level starts angling light paths of several obstacles in which the dog must pass led by their leader. In each upper level tracks are becoming more complex and include more variety of obstacles.
                Agility sport is intense fun for dogs and drivers, and the pleasure which our four-legged friends go through obstacles makes us not stop sporulated together. Worth to try!
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Guard Dog Training</div>
            <div class="panel-body">
                <img src="~/Content/Images/faq_gr_li.gif" />
                The course aims to develop the hunting instinct of the dog and him to provoke a defensive reaction.
                According to the mode of operation it is unlocked only in situations of threat to the owner or his property,
                or is directed strictly to the protective sleeve (costume) on Super (for sport dog training - IPO, Schutzhund, KMPV, French ring sport).
                The benefit is twofold driver - he learned to recognize the signs and the mechanism of development of aggression and control it.
                Classes develop the psyche of the dog and its physical form. They unloaded the negative energy and bring joy to the owner of a job well done.
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <img src="~/Content/Images/guard-doggies.jpg" class="img-responsive img-rounded" />
    </div>
</div>